VITE_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3YzAxNzMwMmMyNmJiMjM2MTgxM2MxZTIxOTNlMTAwNSIsIm5iZiI6MTc3ODk4NTA3MS41MzUsInN1YiI6IjZhMDkyODZmYzAxYWNhODQ5YWQ5NTE1MiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.dwo-XcBy3MPdGGbWaMpMAIZaTMhfuG7xvG2Gke0BAUI
VITE_SERVER_PORT=5000
VITE_SERVER_URL=http://localhost:5000
VITE_API_URL=http://localhost:5000/api