NODE_ENV=development
APP_PORT=5000
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3YzAxNzMwMmMyNmJiMjM2MTgxM2MxZTIxOTNlMTAwNSIsIm5iZiI6MTc3ODk4NTA3MS41MzUsInN1YiI6IjZhMDkyODZmYzAxYWNhODQ5YWQ5NTE1MiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.dwo-XcBy3MPdGGbWaMpMAIZaTMhfuG7xvG2Gke0BAUI
DATABASE_URL="postgresql://movieapp:movieapp_dev_password@127.0.0.1:5433/movieapp?schema=public"
SESSION_SECRET=phai_thay_doi_key_nay_de_bao_mat_session
CLIENT_URL=http://localhost:5173
